@import '../../assets/variables.css';


.catalog-button-container{
  padding-top:48px;
  padding-bottom: 48px;
}
.catalog-container {
  display: flex;
  margin-bottom: 40px;
}

.catalog-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.load-more-button {
  margin: 0 auto;
  width: 173px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 40px;
  color: var(--icon-color);
}

.load-more-button:hover,
.load-more-button:focus {
  cursor: pointer;
  border-color: var(--active-color);
}
