@import url("../../assets/variables.css");
.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 320px;
}
.icon use {
  fill: var(--star-icon-gray);
}

.filled use {
  fill: var(--star-icon-color);
}

.stars-container {
  display: flex;
  gap: 2px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--star-icon-gray);
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 16px;
  color: var(--avatar-letter-color);
}

.avatar-name-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.comment {
  color: var(--description-color);
  font-size: 10px;
}

@media (min-width: 1440px) {
  .reviews-container {
    gap: 44px;
    width: 631px;
  }
  .stars-container {
    gap: 4px;
  }

  .avatar {
    width: 60px;
    height: 60px;

    font-size: 24px;
  }

  .avatar-name-container {
    gap: 16px;
    margin-bottom: 16px;
  }

  .comment {
    color: var(--description-color);
    font-size: 16px;
  }
}
