@import '../../assets/variables.css';


.card-container {
  display: flex;
  box-sizing: border-box;
  width: 888px;
  min-height: 368px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 24px;
  gap: 24px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  font-style: "Semi Bold";
  margin-bottom: 8px;
}

.image {
  width: 292px;
  min-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.name-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  width: 24px;
  height: 21px;
  margin-left: 13px;
}
.icon use {
  fill: currentColor;
  color: var(--icon-color);
}

.icon:hover,
.icon:focus {
  cursor: pointer;
}

.icon:hover use,
.icon:focus use {
  color: var(--active-icon-color);
}

.name-price-container span {
  font-weight: 600;
  font-size: 24px;
}

.reviews-location-container {
  margin-bottom: 24px;
}

.star use {
  fill: #ffc531;
}

.icon-location {
  margin-left: 16px;
}

.description {
  color: var(--description-color);
  display: inline-block;
  max-width: 525px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}
