@import url('../../assets/variables.css');

.options {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 12px;
  font-size: 8px;
 

}
.option-item {
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: var(--option-color);
  border-radius: 100px;
  padding: 6px 9px;

}

.option-icon{
  width: 10px;
  height: 10px;
}

@media (min-width: 1440px) {
.options {
  gap: 8px;
  width: 450px;
  margin-bottom: 24px;
  font-size: 12px;

}
.option-item {
  display: flex;
  gap: 8px;
  padding: 12px 18px;

}
.option-icon{
  width: 20px;
  height: 20px;
}


}


