@import "../../assets/variables.css";

.header-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px 32px;
  box-sizing: border-box;
  background-color: var(--header-background);
}

.travel-trucks {
  font-weight: 900;
  font-size: 12px;
}

.travel {
  color: var(--logo-color);
}

.header-container div:nth-child(2) {
  justify-self: center;
  align-self: center;
}

.header-container :nth-child(3) {
  justify-self: right;
}

.links-container {
  display: flex;
  gap: 10px;
}

.link:hover,
.link:focus {
  cursor: pointer;
}

.links-container a {
  font-size: 12px;
  font-weight: 500;
}

.active {
  color: var(--active-color);
}

@media (min-width: 1440px) {
  .header-container {
    padding: 24px 64px;
  }

  .travel-trucks {
    font-size: 20px;
  }

  .links-container {
    gap: 32px;
  }

  .links-container a {
    font-size: 16px;
  }
}
