@import url("../../assets//variables.css");

.vehicle-equipment-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 24px;
}

.equipment-input {
  display: none;
}
.equipment-item {
  width: 112px;
  height: 96px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;

  border: 1px solid var(--border-color);
  border-radius: 12px;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;

  transition: var(--border-color-transition);
}

.equipment-item:hover,
.equipment-item:focus {
  border-color: var(--avatar-letter-color);
}

.equipment-input:checked + .equipment-item {
  border-color: var(--avatar-letter-color);
}
