@import "../../assets/variables.css";

.camper-page-container {
  padding-top: 48px;
  margin: 0 auto;
  max-width: 1312px;
}
.name-reviews-price-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviews-location-container span {
  text-decoration: underline;
}

.camper-page-container h2 {
  font-size: 24px;
  font-weight: 600;
}

.star use {
  fill: var(--star-icon-color);
}
.images-container {
  display: flex;
  gap: 48px;
}
.icon-location {
  margin-left: 16px;
}

.image-container {
  margin-top: 28px;
}

.image {
  width: 292px;
  height: 312px;

  border-radius: 10px;
  object-fit: cover;
}

.description {
  display: block;
  color: var(--description-color);
  margin-top: 28px;
  margin-bottom: 60px;
}

.active::after {
  display: block;
  position: absolute;
  margin-top:22px;
  content: "";
  width: 100%;
  height: 5px;
  left:0;
  background-color: var(--active-color);
}

.outlet-form-container {
  display: flex;
  justify-content: center;
  margin-top: 56px;
  gap: 40px;
}

.navigation-container {
  display: block;
}

.navigation-container::after{
  content: '';
  display: block;
  height: 1px;
  background-color: var(--border-color);
  margin-top: 24px;
  width: 100%;
}

.navigation {
  font-weight: 600;
  font-size: 20px;
  position: relative;
  
}

.navigation:hover,.navigation:focus{
  cursor: pointer;
  
}

.navigation:first-child{
  margin-right: 40px;
}
